package ui

templ Button(text string) {
	<button type="submit" class="rounded bg-brand px-4 py-2 text-sm font-medium text-brand-text hover:bg-brand-hover cursor-pointer">
		{ text }
	</button>
}

templ ButtonDanger(text string) {
	<button type="submit" class="rounded bg-danger px-4 py-2 text-sm font-medium text-danger-text hover:bg-delete-hover cursor-pointer">
		{ text }
	</button>
}
