package ui

templ Input(inputType, name, placeholder string, required bool) {
	<input
		type={ inputType }
		name={ name }
		placeholder={ placeholder }
		if required {
			required
		}
		class="block w-full rounded border bg-input-bg border-input-border px-3 py-2 text-sm text-text-primary focus:border-brand focus:outline-none placeholder:text-text-muted"
	/>
}
