package ui

templ Input(inputType, name, placeholder string, required bool) {
	<input
		type={ inputType }
		name={ name }
		placeholder={ placeholder }
		if required {
			required
		}
		class="block w-full rounded border border-gray-300 px-3 py-2 text-sm focus:border-gray-500 focus:outline-none"
	/>
}
